.article-link-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    cursor: pointer;
}

.headline {
    color: hsl(0, 0%, 100%);
    font-weight: 800;
}

.headline:hover {
    color: hsl(35, 70%, 62%);
}

.subheadline {
    color: hsl(233, 8%, 79%);
    font-size: 1rem;
}