.homepage-master-container {
  padding: 2em;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 1.5em;
  width: auto;
}

.header button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-icon {
  height: 1.5em;
  width: auto;
  cursor: pointer;
}

.sidenav-container {
  width: 70%;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 10;
}

.navBar-container {
  display: none;
}

.body-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

@media (min-width: 768px) {

  * {
    box-sizing: border-box;
  }

  .navBar-container {
    display: block;
  }

  .homepage-master-container {
    height: 100vh;
    padding: 5em;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .header button {
    display: none;
  }

  .body-container {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }

  .section1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  .section2 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .section3 {
    grid-area: 2 / 1 / 3 / 4;
  }
}