.top-article-container {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    cursor: pointer;
}

.article-img {
    height: 7em;
    width: auto;
}

.article-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ranking {
    font-size: 2rem;
    font-weight: 800;
    color: hsl(5, 85%, 63%);
}

.article-title {
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    font-size: 1rem;
}

.article-subtitle {
    color: hsl(236, 13%, 42%);
    font-size: 0.75rem;
}